.container {
  display: flex;
  align-items: center;
  background-color: var(--app-bar-bk-clr);
  padding: 0.5rem var(--side-padding);
}

.title {
  flex: 1;
  color: var(--app-bar-content-clr);
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}
