.container {
  display: flex;
  background-color: var(--bottom-bar-bk-clr);
  border-top: 1px solid var(--bottom-bar-border-clr);
}

.filter {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem 0;
  cursor: pointer;
}

.filter:not(.activeFilter):hover {
  background-color: var(--bottom-bar-hover-bk-clr);
}

.activeFilter {
  background-color: var(--bottom-bar-active-bk-clr);
}
