.container {
  display: flex;
  justify-content: space-between;
  background-color: var(--filter-bar-bk-clr);
  padding: 0.3rem;
}

.filter {
  flex: 1;
  padding: 0 0.5rem;
}

.filterIndicator {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  padding: 0.3rem 1rem;
  cursor: pointer;
}

.filterIndicator:not(.active):hover {
  background-color: var(--filter-bar-indicator-hover-bk-clr);
}

.filterIndicator.active {
  background-color: var(--filter-bar-indicator-active-bk-clr);
}

.filterName {
  color: var(--filter-bar-filter-name-clr);
}

.filterName.active {
  color: var(--filter-bar-filter-name-active-clr);
}
