.container {
  display: flex;
  flex-direction: column;
  background-color: var(--app-bk-clr);
  min-height: 300px;
  max-height: 600px;
  width: 300px;
  border: 2px solid var(--app-border-clr);
  border-radius: 0.3rem;
}

.content {
  flex: 1;
}
