:root {
  --primary-clr: #45bcfa;
  --bk-clr: #fdfdfd;
  --app-bk-clr: #f4f4f4;
  --app-shadow-clr: rgba(0, 0, 0, 0.3);
  --side-padding: 0.5rem;

  /* App Bar */
  --app-bar-bk-clr: var(--primary-clr);
  --app-bar-content-clr: #fff;
  --app-bar-content-hover-clr: #bbb;

  /* Filter Bar */
  --filter-bar-bk-clr: var(--primary-clr);
  --filter-bar-indicator-active-bk-clr: #fff;
  --filter-bar-indicator-hover-bk-clr: rgba(255, 255, 255, 0.3);
  --filter-bar-filter-name-clr: #fff;
  --filter-bar-filter-name-active-clr: #333;

  /* Create To-do bar */
  --create-bar-bk-clr: #fefefe;
  --create-bar-description-bk-clr: #eee;
  --create-bar-create-btn-bk-clr: #58c77a;
  --create-bar-create-btn-hover-bk-clr: #4cba6e;
  --create-bar-create-btn-clr: #fff;
  --create-bar-border-clr: #ddd;

  /* To-do List */
  --todo-list-bk-clr: #fff;
  --todo-list-item-bk-clr: #fff;
  --todo-list-item-hover-bk-clr: #f5f5f5;
  --todo-list-item-content-clr: #333;
  --todo-list-item-description-focus-bk-clr: #eee;
  --todo-list-item-delete-btn-clr: #777;
  --todo-list-item-delete-btn-hover-clr: #aaa;
  --todo-list-divider-clr: #dedede;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bk-clr);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
